.taskBox{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.task{
    background-color: #eeebeb;
    padding: 20px 20px ;
    border-radius: 10px;
    text-align: start;
}

.statusBox{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.title{
    margin-bottom: 20px;
}

.description{
}

.status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.incomplete{

    background-color: #ef4a4a;
}
.progress{
    background-color: #0095d5;

}
.planned{
    background-color: rgba(40, 180, 133, 0.8);

}
.completed{
    background-color: #26465e;

}
.button{
    border: 0;
}

.deleteButton{
    background-color: #5cbee8;
    padding: 5px 10px ;
    border: 0;
    border-radius: 5px ;
    color: #000000;
}
